botometer
docopt>=0.6.0
eventlet>=0.19.0
Flask>=0.11.1
gunicorn>=19.9.0
networkx>=1.11
pandas>=0.24.2
psycopg2>=2.7.6.1
python-dateutil>=2.0
pytz>=2019.1
pyyaml>=5.1
schema>=0.7.0
scrapy>=1.5.1
simplejson>=3.16.0
SQLAlchemy>=1.0
sqlparse>=0.2.4
tabulate>=0.8.3
tweepy>=3.7.0
ruamel.yaml>=0.15.92
newspaper3k>=0.2.8
demjson>=2.2.4
pathos>=0.2.5
xopen>=0.8.4
